<header>
  <%= link_to(image_tag('back.png', alt: 'Back'), pages_splash_path, class: 'back-button') %>
  <h1>REGISTER</h1>
</header>
<main class="g-bg">
  <section class="form w-bg">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.text_field :name, autocomplete: "name", placeholder: "Full name" %>
      </div>
      <div class="field">
        <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
      </div>
      <div class="field">
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
      </div>
      <div class="actions">
        <%= f.submit "Next" %>
      </div>
    <% end %>
  </section>
</main>
