<header>
  <h1>Transactions</h1>
</header>
<main>
  <section>
    <div>
      <span><%= @group.name %></span>
      <span>Total amount: <%= total_amount(@group) %> </span>
    </div>

    <% if @purchases.empty? %>
      <%= button_to "delete", {:controller => :groups, :action => 'destroy', :id => @group.id }, :method => :delete %>
    <% end %>

    <ul>
      <% @purchases.each do |purchase| %>
        <li>
          <%= link_to group_purchase_url(@group, purchase) do %>
            <span><%= purchase.name %></span>
            <span><%= purchase.amount %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
  <section>
    <%= link_to "Add a Transaction", new_group_purchase_path %>
  </section>
</main>
